<a href="https://colab.research.google.com/github/towhidulislam99/Python-Programming-File/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = "I am Human";
m = " I am not  Robot";
print(s  +  m);

I am Human I am not  Robot

In [2]:
towhid=input();
print(towhid)

hellow man
hellow man

In [18]:
for x in "Banana":
  print(x);

B
a
n
a
n
a

In [22]:
towhid = "Towhid is a good boy"
if "Towhid" in towhid:
  print("yes,'Towhid' is Present")

yes,'Towhid' is Present

In [24]:
txt = "Towhid is innocent boy"
print("expensive" not in txt)

True

In [25]:
i = "hellow Towhid"
print(i[3:6])

low

In [27]:
a = 3;
b = 101;
c = 500;
txt = "I wanted {} peace of item {} and price is {}"
print(txt.format(a,b,c))

I wanted 3 peace of item 101 and price is 500

In [32]:
txt = "I am Towhid"
print (len(txt));
print(upper(txt))

11

NameError: ignored

In [3]:
friend = ["Towhid","Saiful","Mainul", "Ahad"]
friend.pop(2);
print(friend)

['Towhid', 'Saiful', 'Ahad']

In [4]:
friend = ["Towhid","Saiful","Mainul", "Ahad"]
friend.remove("Mainul");
print(friend)

['Towhid', 'Saiful', 'Ahad']

In [8]:
friend = ["Towhid","Saiful","Mainul", "Ahad"]
del friend[2];
print(friend)

['Towhid', 'Saiful', 'Ahad']

In [9]:
friend = ["Towhid","Saiful","Mainul", "Ahad"]
friend.clear();
print(friend)

[]

In [11]:
list =["Bannana","Mango","Apple"]
for x in list:
  print(x)

Bannana
Mango
Apple

In [13]:
list =["Bannana","Mango","Apple"]
for x in range(len(list)):
  print(list[x])

Bannana
Mango
Apple

In [14]:
list =["Bannana","Mango","Apple"]
i = 0
while i< len(list):
  print(list[i])
  i = i+1

Bannana
Mango
Apple

In [20]:
list = ["apple", "banana", "cherry", "kiwi", "mango"]
list1 = []
for x in list:
  if "c" in x:
    list1.append(x)
    print(list1)

['cherry']

In [21]:
list = ["apple", "banana", "cherry", "kiwi", "mango"]
list1 = [x for x in list]
print(list1)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [23]:
list = [x for x in range(100)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [2]:
list = ["Apple","Mango","Banana","Orange","Banana","Apple"]
print(len(list))

6

In [3]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [6]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [1]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [1]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [2]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [3]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [2]:
x = ("Banana","Mango","Apple")
y = list(x)
y[1]="Orange"
x = tuple[y]
print(x)

tuple[['Banana', 'Orange', 'Apple']]

In [6]:
x = ("Banana","Mango","Apple")
y = list(x)
y.append("Orange")
x = tuple(y)
print(x)

('Banana', 'Mango', 'Apple', 'Orange')

In [9]:
x = ("Banana","Mango","Apple")
y = ("orange",)
x += y
print(x)

('Banana', 'Mango', 'Apple', 'orange')

In [ ]:
x = ("Banana","Mango","Apple")

In [10]:
a = int (input());
b= int (input());
c = a + b;
print(c);

30
20
50

In [11]:
x = 5;
print(type(x));

<class 'int'>

In [12]:
x = input();
print(type(x));

20
<class 'str'>

In [13]:
x = range(6);
print(x);

range(0, 6)

In [17]:
a = int(input());
b = int(input());
c = a+b;
print (c);

2
9
11

In [3]:
x=10;
y=20;
z = x+y;
print(z);

30

In [4]:
print('Hellow world python')

Hellow world python